// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.35rem;
}

.capitalize {
  text-transform: capitalize !important;
}

.list-social-icons {
  a {
    color: $gray-700;
    &:hover {
      color: $primary;
    }
    .fa-lg {
      font-size: 1.75rem;
    }
  }
}

.anim {
  color: rgb(255, 255, 255);
  transition: transform 0.5s, color 0.5s; /* Animation */
  margin: 0 auto;
  transform: scale(1);
}

.anim:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.anim-linkedin:hover {
  a {
    color: #0077b5;
  }
}

.anim-github:hover {
  a {
    color: #211f1f;
  }
}

.anim-youtube:hover {
  a {
    color: #E62117;
  }
}

.anim-facebook:hover {
  a {
    color: #3B5998;
  }
}

.anim-twitter:hover {
  a {
    color: #38A1F3;
  }
}

.anim-steam:hover {
  a {
    color: #808080;
  }
}

.anim-instagram:hover {
  a {
    color: #C13584;
    // TODO: Actual Instagram color gradient (not working)
    // color: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  }
}

.list-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.subitem {
  padding-left: 45px;
}